<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/utilities.css">
    <link rel="stylesheet" media="screen and (max-width: 767.98px)" href="/stylesheets/mobile.css">
    <title>YelpCamp | Campgrounds</title>
</head>
<body>
    <!--Main Header -->
	<nav id="menu" class="menu">
		<a href="/campgrounds" class="logo"> <h1>Yelp<span class="text-primary">Camp!</span></h1>
		</a>
		<input type="checkbox" id="tm" class="tm">
		<label for="tm" id="toggle-menu">
				<div class="menu-toggle"><span>Menu</span></div>
			</label>
		<ul class="main-menu cf">
			<li><a href="/campgrounds">Discover</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Sign up</a></li>
		</ul>
	</nav>