<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/utilities.css">
    <link rel="stylesheet" media="screen and (max-width: 640px)" href="../stylesheets/mobile.css">
    <title>YelpCamp | Campgrounds</title>
</head>
<body>
    <!--Main Header -->
<header class="main-header flex-around bg-dark" >
    <div class="container main-header">

        <div class="nav-2" >
            <h1><a href="/campgrounds">Yelp<span class="text-primary">Camp!</span></a></h1>
            <div  class="main-nav">
            <ul>
                <li><a href="#">Discover</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">New</a></li>
            </ul>
        </div>
        </div>
            <nav class="main-nav">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
        </nav>
    </div>
</header>
<section class="container">
    <div class="form-container">
        <div class="image-container">
            <h1>Add New Campground</h1>
        </div>
        <div class="form-group">
            <form action="/campgrounds" method="POST">
                <input type="text"name="Campground[image]" id="" placeholder="Enter image url">
                <input type="text" name="Campground[name]" min="0.00" placeholder="Enter image name">
                <textarea name="Campground[description]" id="" placeholder="Enter description"></textarea>
                <button class="btn btn-form" href="/campgrounds">Add</a>
            </form>
        </div>
    </div>
</section>

<%- include('../partials/footer') %> 