
<%- include('../partials/header') %> 

<section class="container">
    <div class="form-container">
        <div class="image-container">
            <h1>Add New Campground</h1>
        </div>
        <div class="form-group">
            <form action="/campgrounds" method="POST">
                <input type="text"name="Campground[image]" id="" placeholder="Enter image url">
                <input type="text" name="Campground[name]" min="0.00" placeholder="Enter image name">
                <textarea name="Campground[description]" id="" placeholder="Enter description"></textarea>
                <button class="btn btn-form" href="/campgrounds">Add</a>
            </form>
        </div>
    </div>
</section>

<%- include('../partials/footer') %> 